<div class="bg"><div class="glow"></div></div>
<div class="frame">
  <div class="top">
    <span class="badge kind-{{kind}}"><span class="sr-icon badge-icon">{{{icon}}}</span>{{kindLabel}}</span>
    <span class="counter">{{index}} / {{total}}</span>
  </div>
  <div class="body">
    <div class="accent"></div>
    <p class="headline size-{{textSize}}" data-split="words">{{text}}</p>
  </div>
  <div class="footer">
    <span class="brand-mini">{{projectName}} {{versionLabel}}</span>
    <div class="dots">{{#dots}}<i class="{{#active}}on{{/active}}{{#done}}done{{/done}}"></i>{{/dots}}</div>
  </div>
</div>
